/* src/components/CookieBanner.css */

.cookie-banner {
  z-index: 1 !important;
  position: fixed;
}
/* Evita che gli stili globali si applichino ai pulsanti all'interno del CookieBanner */
.cookie-banner button {
    font-size: 14px;
    border-radius: 25px !important;
    cursor: pointer;
    background: none !important;
}

.cookie-banner a {
  color: #002011 !important; /* Colore del link (personalizzabile) */
  text-decoration: none !important; /* Sottolineatura del link */
}

.cookie-banner a:hover {
  color: #002244 !important; /* Colore del link (personalizzabile) */
}

  
  /* Stili per hover se necessario */
.cookie-banner button:hover {
    background-color: rgba(222, 219, 22, 0.1) !important;
    border-radius: 25px !important;
}

.cookie-banner #rcc-decline-button {
    /* color: rgb(42, 42, 42) !important; */
    color: rgb(42, 42, 42) !important;

    /* font-weight: bold; */
}

.cookie-banner #rcc-confirm-button {
  /* color: rgb(42, 42, 42) !important; */
  color: rgb(42, 42, 42) !important;
  /* font-weight: bold; */
}


.CookieConsent {
    display: flex;
    /* Centra i contenuti verticalmente */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80%;
    left: 50% !important;
    font-size: 16px;
    color: rgb(42, 42, 42) !important;
    font-weight: 600;
    color: #f5f5f5 !important;
    transform: translate(-50%, -50%); /* Per centrare perfettamente */
    background-color: rgba(119, 119, 110, 0.98) !important;
    border-radius: 20px;
    padding: 20px; /* Aggiungi un po' di spazio interno */
    z-index: 9999; /* Assicurati che sia sopra gli altri elementi */
    width: 90%; /* Per adattarsi a schermi piccoli */
    max-width: 600px; /* Limita la larghezza massima */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per un look migliore */
    text-align: center;
    margin-top: -75px !important;
}

  /* Media query per tablet */
@media (max-width: 1024px) {
  .cookie-banner {
    /* padding: 200px 300px; */
    max-width: 500px;
    font-size: 14px;
  }
}

/* @media (max-width: 768px) {
  .cookie-banner {
    max-width: 400px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cookie-banner {
    max-width: 100%;
    font-size: 10px;
  }

  .CookieConsent{
    padding: 5px;
  }
} */

@media (max-width: 768px) {
  .CookieConsent {
    display: block !important;
    text-align: center !important;
    width: 100% !important;
    padding: 20px !important; /* Più spazio interno */
    box-sizing: border-box; /* Garantisce che padding non faccia sforare la larghezza */
  }

  .CookieConsent > div {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 10px;
    margin-top: 10px;
  }

  .CookieConsent button {
    display: inline-block !important;
    width: auto !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
    margin: 5px !important;
  }
}

  