
.home-page {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .homepage-logo {
    max-width: 55%;
    height: auto;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  /* .home-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .btn-prenota {
    flex: 1 1 200px;
    white-space: nowrap;
  } */

  .home-buttons {
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
    gap: 20px;
    width: 100%; /* Occupa tutta la larghezza disponibile */
  }
  
  .btn-prenota {
    flex: none; /* Rimuove la flessibilità */
    width: 200px; /* Imposta una larghezza fissa */
    text-align: center; /* Centra il testo */
  }
  

  /* .homepage-bottom-logo {
    position: fixed;
    bottom: 442px;
    left: 1142px;
    width: 124px; /* Regola la dimensione secondo le tue esigenze */
    /* height: auto;
    z-index: 9999;
  } */
  
  /* Responsività */
  @media (max-width: 768px) {
    .btn-prenota {
      flex: 1 1 150px;
      font-size: 1rem;
    }

    .homepage-logo {
      max-width: 60%; /* Riduci leggermente, ma mantieni visibile */
      min-width: 250px; /* Imposta una larghezza minima per non ridurlo troppo */
    }
    
    /* .homepage-bottom-logo {
      width: 42px;
      bottom: 42px;
      left: 1px;
    } */
  }
  
  @media (max-width: 480px) {
    .btn-prenota {
      flex: 1 1 100%;
      font-size: 0.9rem;
    }
    
    /* .homepage-bottom-logo {
      width: 24px;
      bottom: 1px;
      left: 1px;
    } */
  }
  