
.home-page {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .homepage-logo {
    max-width: 55%;
    height: auto;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  

  .homepage-subtitle {
    color: rgb(0, 0, 0);
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.3em;
    font-family: "Trebuchet MS", Arial, sans-serif;
    /* font-family: 'montserrat'; */
    /* font-family: "Segoe UI", Tahoma, Geneva, sans-serif; */
    /* font-family: 'Roboto', Arial, sans-serif; */
  }

  .home-schedule {
    position: absolute;
    /* transform: translateY(170px); */
    margin-top: 242px;
    line-height: 1.2;
    margin-bottom: -142px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    /* font-family: "Trebuchet MS", Arial, sans-serif; */
    /* font-family: 'montserrat'; */
    font-size: 16px;
    font-weight: 600;
    /* color: rgb(0, 0, 0); */
    color: #ffffff;
    background-color: #8f8b7c;
    opacity: 0.9;
    border-radius: 50px;
    transition: opacity 0.3s ease-in-out; 
    max-height: 190px;
    max-width: 80%;
  }

  .home-schedule:hover {
    opacity: 1;
}
  
  
  /* .home-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .btn-prenota {
    flex: 1 1 200px;
    white-space: nowrap;
  } */

  .home-buttons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    width: 100%; 
  }
  
  .btn-prenota {
    flex: none; 
    width: 200px; 
    text-align: center; 
  }
  

  /* .homepage-bottom-logo {
    position: fixed;
    bottom: 442px;
    left: 1142px;
    width: 124px; 
    /* height: auto;
    z-index: 9999;
  } */
  
  /* Responsività */
  @media (max-width: 768px) {
    .btn-prenota {
      flex: 1 1 150px;
      font-size: 1rem;
    }

    .homepage-logo {
      max-width: 60%; 
      min-width: 250px; 
    }

    .homepage-subtitle {
      margin-top: 2px;
      font-size: 10px;
    }

    .home-schedule{
      max-width: 250px !important;
    }
    
    /* .homepage-bottom-logo {
      width: 42px;
      bottom: 42px;
      left: 1px;
    } */
  }
  
  @media (max-width: 480px) {
    .btn-prenota {
      flex: 1 1 100%;
      font-size: 0.9rem;
    }

    .homepage-subtitle {
      margin-top: 2px;
      font-size: 10px;
    }

    .home-schedule{
      max-width: 250px;
    }
    
    /* .homepage-bottom-logo {
      width: 24px;
      bottom: 1px;
      left: 1px;
    } */
  }
  