.privacy-policy {
    background-color: rgb(44, 44, 44);
    font-size: 12px;
    width: 100%;
    padding-top: 142px;
    padding-bottom: 242px;
}

.privacy-policy a {
    margin-left: 4px; /* Aggiunge spazio a sinistra del link */
    color: #0066cc; /* Cambia il colore del link (puoi scegliere un colore più visibile) */
    text-decoration: underline; /* Facoltativo: aggiunge una sottolineatura */
}

.privacy-policy a:hover {
    color: #008049; /* Cambia colore del link al passaggio del mouse */
  }